@import "./mixins";

:root {
  /* colors */
  --dark: #0a0a0a;
  --white: #ffffff;
  --grey: #ffffffb7;
  --black: #000000;
  --blue-main: #00eaff;
  --blue-bg: #06272a;
  --highlight-bg: #c3f3f8;
  --navbar-bg-op: #0a0a0a85;
  --footer-bg: #232323;
  --blue-clouds: #00eaff31;
  --section-spacer: #06272a;
  --blue-tag: #11a2aa;
  --blue-bg-icon: #00eaff08;
  --interval: 0.6s;
  --list-length: 0;
}

@font-face {
	font-family: "Roboto";
	src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"),
		url("../../assets/fonts/Roboto-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "INTRID_ICONS";
	src: url("../../assets/fonts/INTRID_ICONS.eot");
	src: url("../../assets/fonts/INTRID_ICONS.eot?#iefix")
			format("embedded-opentype"),
		url("../../assets/fonts/INTRID_ICONS.woff") format("woff"),
		url("../../assets/fonts/INTRID_ICONS.ttf") format("truetype"),
		url("../../assets/fonts/INTRID_ICONS.svg#INTRID_ICONS")
			format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@keyframes infinite-glow {
  0% {
    color: var(--blue-main);
    text-shadow: 0px 0px 10px var(--blue-main);
  }

  15% {
    color: var(--color-white);
    text-shadow: 0px 0px 8px var(--color-white);
  }

  30% {
    color: var(--blue-main);
    text-shadow: 0px 0px 10px var(--blue-main);
  }

  100% {
    color: var(--blue-main);
    text-shadow: 0px 0px 8px var(--blue-main);
  }
}

@keyframes onload-orb {
  0% {
    transform: scale(0.1);
    offset-distance: 0%;
  }

  50% {
    transform: scale(1) rotate(-120deg);
    offset-distance: 100%;
  }

  100% {
    transform: scale(1) rotate(-120deg);
    offset-distance: 100%;
  }
}

@keyframes onload {
  0% {
    opacity: 1;
    display: block;
  }

  50% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes iris {
  0%,
  100% {
    transform: rotateX(-10deg) rotateY(15deg) translateZ(68px) scale(0.6);
  }

  10% {
    transform: rotateX(-50deg) rotateY(15deg) translateZ(68px) scale(0.6);
  }

  30% {
    transform: rotateX(-30deg) rotateY(-5deg) translateZ(68px) scale(0.6);
  }

  45% {
    transform: rotateX(-20deg) rotateY(-15deg) translateZ(68px) scale(0.6);
  }

  55%,
  60% {
    transform: rotateX(0deg) rotateY(0deg) translateZ(68px) scale(0.6);
  }

  90% {
    transform: rotateX(30deg) rotateY(5deg) translateZ(68px) scale(0.6);
  }
}

@keyframes links-last {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

@keyframes links-before {
  0% {
    left: 50%;
  }

  100% {
    left: 0%;
  }
}

@keyframes links-after {
  0% {
    right: 50%;
  }

  100% {
    right: 0%;
  }
}

@keyframes planet {
  0% {
    background-size: auto 240px;
    background-position: bottom;
  }

  100% {
    background-size: auto 300px;
    background-position: bottom;
  }
}

@keyframes planet2 {
  0% {
    background-size: auto 100%;
    background-position: bottom;
  }

  100% {
    background-size: auto 120%;
    background-position: bottom;
  }
}

@keyframes popupAppear {
  0% {
    display: block;
    backdrop-filter: blur(0px) brightness(0%);
  }

  50% {
    display: block;
    backdrop-filter: blur(3px) brightness(30%);
  }

  100% {
    display: block;
    backdrop-filter: blur(6px) brightness(60%);
  }
}

@keyframes orb-glow {
  0% {
    filter: drop-shadow(0 0 10px var(--blue-main));
  }

  50% {
    filter: drop-shadow(0 0 50px var(--blue-main));
  }

  100% {
    filter: drop-shadow(0 0 10px var(--blue-main));
  }
}

@keyframes baloon {
  0%,
  100% {
    transform: translateY(0) rotate(0deg) scale(1);
  }

  50% {
    transform: translateY(-15px) rotate(2deg) scale(1.01);
  }
}

@keyframes baloon-right {
  100% {
    transform: translateY(0) rotate(15deg) scale(-1, 1);
  }

  50% {
    transform: translateY(-15px) rotate(17deg) scale(-1.01, 1.01);
  }
}

@keyframes burger-links-appear {
  0% {
    display: flex;
    opacity: 0;
    transform: scale(0, 1);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes ripple {
  0% {
    border: 8px solid var(--blue-main);
    transform: scale(0.7);
    opacity: 0.8;
  }

  100% {
    border: 1px solid white;
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes logo-hover {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0px 0px 25px 15px var(--blue-clouds);
  }
}

@keyframes priceAppear {
  0% {
    transform: translateY(-30px), scale(1, 0);
    display: block;
    opacity: 0;
  }

  100% {
    transform: translateY(0px), scale(1, 1);
    display: block;
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1, 0);
  }

  100% {
    display: block;
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes flex-appear {
  0% {
    display: flex;
    opacity: 0;
    transform: scale(1, 0);
  }

  100% {
    display: flex;
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes burgerAppear {
  0% {
    display: block;
    opacity: 0;
    transform: scale(1, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes burgerAppearUp {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }

  100% {
    opacity: 0;
    transform: scale(1, 0);
  }
}

@keyframes eye {
  0%,
  100% {
    transform: translateY(-5px) translateX(0px) scale(1);
  }

  50% {
    transform: translateY(-7px) translateX(5px) scale(1.01);
  }

  75% {
    transform: translateY(-5px) translateX(0px) scale(1.01);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes append-order {
  0% {
    color: transparent;
  }

  100% {
    color: var(--color-white);
  }
}

@keyframes list-glow {
  0%,
  100% {
    box-shadow: none;
    border: 1px solid transparent;
  }

  45% {
    box-shadow: none;
    border: 1px solid transparent;
  }

  50% {
    border: 1px solid var(--blue-main);
    box-shadow: 0px 0px 15px var(--blue-main);
  }

  65% {
    box-shadow: none;
    border: 1px solid transparent;
  }
}

@keyframes table-switch {
  0% {
    color: var(--color-white);
  }

  33% {
    color: transparent;
  }

  100% {
    color: var(--color-white);
  }
}

@keyframes showCard {
  to {
    opacity: 1;
    transform: scale(1);
  }
}


[data-icon]:before {
	font-family: "INTRID_ICONS" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "INTRID_ICONS" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-adress:before {
	content: "\70";
}

.icon-play:before {
	content: "\61";
}

.icon-mail:before {
	content: "\62";
}

.icon-reset:before {
	content: "\63";
}

.icon-intrid:before {
	content: "\64";
}

.icon-whatsapp:before {
	content: "\65";
}

.icon-lightbulb:before {
	content: "\66";
}

.icon-target:before {
	content: "\67";
}

.icon-person:before {
	content: "\68";
}

.icon-links:before {
	content: "\69";
}

.icon-rocket:before {
	content: "\6a";
}

.icon-arrow:before {
	content: "\6b";
}

.icon-arrow_wide:before {
	content: "\6c";
}

.icon-shevrone:before {
	content: "\6d";
}

.icon-tg:before {
	content: "\6e";
}

.icon-phone:before {
	content: "\6f";
}

.icon-fire:before {
	content: "\71";
}

// section config
section {
	position: relative;
	z-index: 1;
	display: block;
	padding: 80px 0;
	overflow: hidden;

	@media (max-width: 991.98px) {
		padding: 40px 0;
	}

	&:first-child {
		padding-top: 0;

		&:is(.section-main) {
			padding-top: 50px;

			@media (max-width: 991.98px) {
				padding-top: 25px;
			}
		}
	}
}

[id] {
	scroll-margin-block-start: 80px;

	@media (max-width: 991.98px) {
		scroll-margin-block-start: 60px;
	}
}

// margins & paddings
.m {
	&-0 {
		margin: 0 !important;
	}

	&x {
		&-0 {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}

		&-30 {
			margin-left: 30px !important;
			margin-right: 30px !important;
		}

		&-auto {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	&t {
		&-auto {
			margin-top: auto !important;
		}

		&-0 {
			margin-top: 0 !important;
		}

		&-10 {
			margin-top: 10px !important;
		}

		&-20 {
			margin-top: 20px !important;
		}

		&-30 {
			margin-top: 30px !important;
		}

		&-40 {
			margin-top: 40px !important;
		}

		&-50 {
			margin-top: 50px !important;
		}

		&-60 {
			margin-top: 60px !important;
		}

		&-70 {
			margin-top: 70px !important;
		}

		&-80 {
			margin-top: 80px !important;
		}

		&-90 {
			margin-top: 90px !important;
		}

		&-100 {
			margin-top: 100px !important;
		}
	}

	&b {
		&-auto {
			margin-bottom: auto !important;
		}

		&-0 {
			margin-bottom: 0 !important;
		}

		&-10 {
			margin-bottom: 10px !important;
		}

		&-20 {
			margin-bottom: 20px !important;
		}

		&-30 {
			margin-bottom: 30px !important;
		}

		&-40 {
			margin-bottom: 40px !important;
		}

		&-50 {
			margin-bottom: 50px !important;
		}

		&-60 {
			margin-bottom: 60px !important;
		}

		&-70 {
			margin-bottom: 70px !important;
		}

		&-80 {
			margin-bottom: 80px !important;
		}

		&-90 {
			margin-bottom: 90px !important;
		}

		&-100 {
			margin-bottom: 100px !important;
		}
	}

	&y {
		&-0 {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}

		&-30 {
			margin-top: 30px !important;
			margin-bottom: 30px !important;
		}

		&-auto {
			margin-top: auto !important;
			margin-bottom: auto !important;
		}
	}
}

.p {
	&-0 {
		padding: 0 !important;
	}

	&t {
		&-0 {
			padding-top: 0 !important;
		}

		&-10 {
			padding-top: 10px !important;
		}

		&-20 {
			padding-top: 20px !important;
		}

		&-30 {
			padding-top: 30px !important;
		}

		&-40 {
			padding-top: 40px !important;
		}

		&-50 {
			padding-top: 50px !important;
		}

		&-60 {
			padding-top: 60px !important;
		}

		&-70 {
			padding-top: 70px !important;
		}

		&-90 {
			padding-top: 90px !important;
		}

		&-100 {
			padding-top: 100px !important;
		}
	}

	&b {
		&-0 {
			padding-bottom: 0 !important;
		}

		&-10 {
			padding-bottom: 10px !important;
		}

		&-20 {
			padding-bottom: 20px !important;
		}

		&-30 {
			padding-bottom: 30px !important;
		}

		&-40 {
			padding-bottom: 40px !important;
		}

		&-50 {
			padding-bottom: 50px !important;
		}

		&-60 {
			padding-bottom: 60px !important;
		}

		&-70 {
			padding-bottom: 70px !important;
		}

		&-90 {
			padding-bottom: 90px !important;
		}

		&-100 {
			padding-bottom: 100px !important;
		}
	}
}

// sizes
.w {
	&-100 {
		width: 100%;
	}
}

// hidden
.hidden {
	display: none !important;
}

// container options
.container {
	max-width: 100%;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;

	@media (min-width: 1200px) {
		width: 96%;
		padding: 0;
	}

	@media (min-width: 1500px) {
		max-width: 1440px;
	}
}

// layouts
.layout {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;

	&-2x {
		& > * {
			max-width: 50%;
			flex-basis: calc(50% - 15px);

			@media (max-width: 575.98px) {
				max-width: 100%;
				flex-basis: 100%;
			}
		}
	}

	&-3x {
		& > * {
			max-width: 33.333333%;
			flex-basis: calc(33.333333% - 15px);

			@media (max-width: 1199.98px) {
				max-width: 50%;
				flex-basis: calc(50% - 15px);
			}

			@media (max-width: 575.98px) {
				max-width: 100%;
				flex-basis: 100%;
			}
		}
	}

	&-4x {
		& > * {
			max-width: calc(25% - 15px);
			flex-basis: calc(25% - 15px);

			@media (max-width: 1199.98px) {
				max-width: calc(33.333333% - 14px);
				flex-basis: calc(33.333333% - 14px);
			}

			@media (max-width: 899.98px) {
				max-width: calc(50% - 10px);
				flex-basis: calc(50% - 10px);
			}

			@media (max-width: 575.98px) {
				max-width: 100%;
				flex-basis: 100%;
			}
		}
	}

	&-filled {
		& > * {
			max-width: 100%;
			flex: 1 1 0%;
		}
	}

	// breakpoints
	&-md {
		&-column {
			& > * {
				@media (max-width: 719.98px) {
					max-width: 100%;
					flex: 100%;
				}
			}
		}
	}
}

// positions
.position {
	&-relative {
		position: relative !important;
	}

	&-unset {
		position: unset !important;
	}
}